
.venv/
venv/
ENV/
modules/

**/__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

.env
.env.*
!.env.example


App/database.db
**/data/raw/
**/data/processed/
chroma_db/
faiss/


.vscode/
.idea/
.DS_Store
Thumbs.db
